<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>inserir cargo</h1>

    <form th:action="@{/cargo/novo}" th:object="${cargo}" method="post">
        <p>nome cargo:<input type="text" name="carg_nome"></p>
        <p>salarios mensal:<input type="number" name="car_sal_mes"></p>
        <p>descricao do cargo<input type="text" name="carg_descricao"></p>

        <br>
        <input type="submit" value="cadastrar">
    </form>
</body>
</html>