<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>editar</h1>
    <form th:action="@{/funcionario/editar/{func_codigo}(func_codigo=${funcionario.func_codigo})}"  th:object="${funcionario}" method="post">
        <input type="text" th:field="*{nome}">
        <input type="date" th:field="*{ctps}">
        <input type="date" th:field="*{rescisao}">
        
        <br>
        <input type="submit" value="alterar">
    </form>
</body>
</html>